/* button styles  */

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  -webkit-box-shadow: 7px 5px 5px -1px rgba(0, 0, 0, 0.22);
  box-shadow: 7px 5px 5px -1px rgba(0, 0, 0, 0.22);
  border: none;
  border-radius: 2px;

  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #212f3d;
  padding: 10px;
}

.game-btn {
  height: 120px;
  width: 220px;
}

.reset-btn {
  background-color: #ec7063;
  display: block;
  margin-bottom: 10px;
}

.rock-btn {
  background-color: #85c1e9;
}

.paper-btn {
  background-color: #73c6b6;
}

.scissors-btn {
  background-color: #d7bde2;
}
